.settings__setting{
    padding: 20px 0px;
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}
.settings__setting i {
    margin-right: 20px;
    opacity: 0.7;
}
.settings__setting-colum{
    display: flex;
    justify-content: space-around;
}
.settings__setting-colum:last-child{
    opacity: 0.7;
}