.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    color:rgba(65, 65, 65, 0.808);
    position: relative;
}
.nav__notification{
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    position: absolute;
    color:white;
    font-weight: 600px;
    left:20px;
    bottom: 17px;
}
.nav__dot{
    background-color: tomato;
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position:absolute;
    left:35px;
}