.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.screen-header__icons span{
    margin-left:20px;
    position: relative;
}
.screen-header__title{
    font-size: 25px;
    font-weight: 600;
}